---
import { SERVER_URL } from "../consts";
---

<head>
  <!-- ... -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <!-- ... -->
</head>
<body>
  <div id="article-info">
    <!-- ... -->
    阅读量: <span class="waline-pageview-count" data-path="<Your/Path/Name>" />
    <!-- ... -->
  </div>
});
  <!-- ... -->
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({
      el: '#waline',
      serverURL: 'https://your-domain.vercel.app',

       // 设置 emoji 为微博与哔哩小黄脸
    emoji: [
      'https://unpkg.com/@waline/emojis@1.2.0/bilibili',
    ],

      reaction: true, // 开启反应

      pageview: true, // 浏览量统计
    });

   
  </script>
</body>

<!-- br />
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline.css"
/>
<div class="comment">
  <div id="waline" data-server-url={SERVER_URL}></div>
</div>
<script type="module" is:inline>
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.css";

  const serverURL = document
    .getElementById("waline")
    .getAttribute("data-server-url");
  init({
    el: "#waline",
    serverURL: serverURL,
    dark: 'html[data-theme="dracula"]',
    reaction: [
      serverURL: 'https://comment-blond-two.vercel.app/'
      // "https://saroprock.s3.bitiful.net/good.png",
      // "https://saroprock.s3.bitiful.net/bad.png",
      // "https://saroprock.s3.bitiful.net/happy.png",
      // "https://saroprock.s3.bitiful.net/color.png",
      // "https://saroprock.s3.bitiful.net/confuse.png",
      // "https://saroprock.s3.bitiful.net/heart.png",
      // "https://saroprock.s3.bitiful.net/rocket.png",
      // "https://saroprock.s3.bitiful.net/eyes.png",
    ],
    emoji: false,
    search: false,
  });
</script> -->