---
import { SERVER_URL } from "../consts";
---

<head>
  <!-- ... -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <!-- ... -->
</head>
<body>
  <!-- ... -->
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      serverURL: 'https://your-domain.vercel.app',

       // 设置 emoji 为微博与哔哩小黄脸
    emoji: [
      '//unpkg.com/@waline/emojis@1.2.0/weibo',
    ],
    });

   
  </script>
</body>
